body {
  background-color: #0a192f; /* Dark background */
  color: #ffffff; /* Light text for contrast */
  margin: 0;
  padding: 0;
}


.welcome-heading {
  color: #ffffff; /* Ensure heading is white */
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1.2em;
}


/* Add this to your global CSS */
#home, #about, #projects, #contact {
  min-height: 100vh;
  padding: 80px 20px; /* Adds space for the header */
}

/* Fixed header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0a192f; /* Match your dark navy color */
}